<div class="comm_container vote_manager">
    <h1 class="comm_title">营销活动 >> 网红海选  <span class="add_vote" @click="addUser">添加网红</span><span class="right">今日分享抽奖：{{eventInfo.shareTimes}}次，共计{{eventInfo.shareAmount}}元 今日网红登录人数：{{eventInfo.loginNum}}人</span></h1>
    <div class="container">
        <ul class="search_head">
            <li><span>手机号</span><input type="text" v-model="phone"></li>
            <li><span>店铺ID</span><input type="text" v-model="spaceId"></li>
            <li><span>店铺名称</span><input type="text" v-model="spaceName"></li>
            <li><span>编号</span><input type="text" v-model="number"></li>
        </ul>
        <ul class="search_head">
            <li><span>网红姓名</span><input type="text" v-model="realName"></li>
            <li><span>日期选择</span>从<input @change="endTimeChange()" type="date" class="flatpickr" id="beginTime">至<input class="flatpickr" type="text" id="endTime"></li>
            <li>
                <span>直播时长</span>
                <select name="min" id="mintime" v-model="minTime">
                    <option value="0" checked>所有</option>
                    <option value="30">30分钟以下</option>
                    <option value="30-60">30分钟-60分钟</option>
                    <option value="60-120">60分钟-120分钟</option>
                    <option value="120-180">120分钟-180分钟</option>
                    <option value="180">180分钟以上</option>
                </select>
            </li>
            <li><button @click="search" class="search_btn">搜索</button></li>
        </ul>
        <div class="all">
            <input type="checkbox" @change="checkAll($event)" class="all_check" id="check_all"><label for="check_all" >全选</label> <button @click="allShow()" class="out">移出网红库</button>
        </div>
        <table class="red_list">
            <thead>
            <tr>
                <td></td>
                <td>编号</td>
                <td>店铺ID</td>
                <td>店铺名称</td>
                <td>网红姓名</td>
                <td>手机号</td>
                <td @click="sort($event)" style="cursor:pointer;font-size: 12px;text-align: left;vertical-align: middle;">直播时长<img @click.stop="" style="display:inline-block;vertical-align: middle;margin-left:4px;cursor:auto;" src="../img/noDown.png" alt=""></td>
                <td @click="sort($event)" style="cursor:pointer;font-size: 12px;text-align: left;vertical-align: middle;">成交单数<img @click.stop="" style="display:inline-block;vertical-align: middle;margin-left:4px;cursor:auto;" src="../img/noDown.png" alt=""></td>
                <td @click="sort($event)" style="cursor:pointer;font-size: 12px;text-align: left;vertical-align: middle;">总票数<img @click.stop=""  style= "display:inline-block;vertical-align: middle;margin-left:4px;cursor:auto;" src="../img/noDown.png" alt=""></td>
                <td @click="sort($event)" style="cursor:pointer;font-size: 12px;text-align: left;vertical-align: middle;">热力值<img @click.stop=""  style= "display:inline-block;vertical-align: middle;margin-left:4px;cursor:auto;" src="../img/noDown.png" alt=""></td>
                <td @click="sort($event)" style="cursor:pointer;font-size: 12px;text-align: left;vertical-align: middle;">综合排名<img @click.stop="" style="display:inline-block;vertical-align: middle;margin-left:4px;cursor:auto;" src="../img/noDown.png" alt=""></td>
                <td>操作</td>
            </tr>
            </thead>
            <tbody v-if="tableData.length>0">
            <tr v-for="(list,index) in tableData">
                <td><input @change="checkChange(list,$event)" :value="list.userId" type="checkbox" class="checked"></td>
                <td>{{index+1}}</td>
                <td>{{list.spaceNum}}</td>
                <td>{{list.spaceName}}</td>
                <td><input @change="changeName(list,$event)" type="text" v-model="list.verifyName"></td>
                <td>{{list.phoneNo}}</td>
                <td v-if="list.liveTime/1000/60<60">{{list.liveTime?Math.floor(list.liveTime/1000/60)+'分钟':0}}</td>
                <td v-if="list.liveTime/1000/60>60&&list.liveTime/1000/60<1440">{{parseInt(list.liveTime/1000/60/60)+'小时'+parseInt(list.liveTime/1000/60)%60+'分钟'}}</td>
                <td v-if="list.liveTime/1000/60>1440">{{Math.round(list.liveTime/1000/60/60/24,2)+'天'+Math.floor(list.liveTime/1000/60/60%24)+'小时'+parseInt(list.liveTime/1000/60%60)+'分钟'}}</td>
                <td>{{list.orderCount}}</td>
                <td>{{list.voteCount?list.voteCount:'--'}}</td>
                <td>{{list.score?list.score:'--'}}</td>
                <td>{{list.rank?list.rank:'--'}}</td>
                <td>
                    <span class="out" @click="showDelBox(list,index)">移出网红库</span>
                    <span class="detail" @click="routerDetai(list.userId)">查看详情</span>
                </td>
            </tr>
            </tbody>
        </table>
        <div v-if="tableData.length>0" class="comm_page">
            <span>共{{countNum}}条,每页显示10条,共{{pagesCount}}页,当前为第{{currentPage}}页</span>
            <div class="comm_pagination_control">
                <ul>
                    <li v-for = "(pageItem,index) in pageArray" :class="{  'active': pageItem.isActive, 'page_hide': pageItem.isHidden  }" @click = "jumpPage(pageItem.count,pageItem)">{{pageItem.count}}</li>
                </ul>
                <div class="page_input">
                    <label for="page_index">跳转:</label>
                    <input type="text" name="page_index" id="page_index" v-model="targetPage">
                </div>
                <button class="page_button" @click="jumpPage(targetPage)">GO</button>
            </div>
        </div>
    </div>
    <div v-if="delShow" class="dio_box">
        <div class="title">移出网红库 <span style="font-size: 16px;font-weight: bold;color:#fff;float:right;margin-right:20px;padding:4px;margin-top:4px;cursor:pointer;" @click="delShow=false;">X</span></div>
        <div class="text">确定将用户移出网红库吗？</div>
        <button class="action_btn" @click="deleteUser(userItem,userIndex)">确定</button>
    </div>
    <div v-if="allDelShow" class="dio_box">
        <div class="title">移出网红库 <span style="font-size: 16px;font-weight: bold;color:#fff;float:right;margin-right:20px;padding:4px;margin-top:4px;cursor:pointer;" @click="allDelShow=false;">X</span></div>
        <div class="text">确定将用户移出网红库吗？</div>
        <button class="action_btn" @click="deleteAll()">确定</button>
    </div>
</div>