<div class="gold_out comm_container">
    <h1 class="comm_title">商户管理  >>  保证金申退</h1>
    <ul class="search_box">
        <li>
            <span>店铺名称:</span><input type="text" placeholder="请输入" v-model="spaceName">
        </li>
        <li>
            <span>手机号:</span><input type="text" placeholder="请输入" v-model="phone">
        </li>
        <li>
            <span>申退时间:</span>
            <input type="text" name="beginTime" class="flatpickr input_width_4" id="beginTime" autocomplete v-model="starTime">
            <span>至</span>
            <input type="text" name="beginTime" class="flatpickr input_width_4" id="endTime" autocomplete v-model="endTime">
        </li>
        <li>
            <button class="search" @click="search">搜索</button>
        </li>
    </ul>
    <table>
        <thead>
        <tr>
            <td>店铺ID</td>
            <td>店铺名称</td>
            <td>认证人手机</td>
            <td>申退原因</td>
            <td>申退时间</td>
            <!--<td>缴费状态</td>-->
            <td>申退金额</td>
            <td>退款人</td>
            <td width="200">提现账号</td>
            <td>交易中金额(元)</td>
            <td>申退状态</td>
            <td>操作</td>
        </tr>
        </thead>
        <tbody>
        <tr v-for="list in tableData">
            <td v-text="list.spaceNum"></td>
            <td v-text="list.depositRefund.spaceName"></td>
            <td v-text="list.bankCard.phoneNo"></td>
            <td v-text="list.depositRefund.refundDetail"></td>
            <td>{{list.depositRefund.refundTime | trans-date}}</td>
            <!--<td><span style="color:#ff3657;">{{list.depositFee}}保证金</span><br><span style="color:#ff3657;" v-if="list.enterFee>0">+{{list.enterFee}}入驻费</span></td>-->
            <td style="color:#ff3657;">{{list.depositRefund.refundAmount}}</td>
            <td>
                <p v-text="list.bankCard.bankCardName"></p>
                <p v-text="list.bankCard.phoneNo"></p>
            </td>
            <td>{{list.bankCard.bankName}}  {{list.bankCard.bankCardBranch}} {{list.bankCard.bankCardNo}}</td>
            <td v-text="list.streamMonry"></td>
            <td><span style="color:#ff3657;" v-if="list.depositRefund.refundStatus==0">待处理</span><span style="color:#ff3657;" v-if="list.depositRefund.refundStatus==1">退款成功</span><span style="color:#ff3657;" v-if="list.depositRefund.refundStatus==-1">已拒绝</span></td>
            <td>
                <span style="color:#888;" v-if="list.depositRefund.refundStatus!=0">已完成</span><span @click="showAgree(list)" v-if="list.depositRefund.refundStatus==0">同意</span><span v-if="list.depositRefund.refundStatus==0" @click="showDel(list)">拒绝</span>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="comm_page">
        <span>共{{countNum}}条,每页显示10条,共{{pagesCount}}页,当前为第{{currentPage}}页</span>
        <div class="comm_pagination_control">
            <ul>
                <li v-for = "(pageItem,index) in pageArray" :class="{  'active': pageItem.isActive, 'page_hide': pageItem.isHidden  }" @click = "jumpPage(pageItem.count,pageItem)">{{pageItem.count}}</li>
            </ul>
            <div class="page_input">
                <label for="page_index">跳转:</label>
                <input type="text" name="page_index" id="page_index" v-model="targetPage">
            </div>
            <button class="page_button" @click="jumpPage(targetPage)">GO</button>
        </div>
    </div>
    <div class="del_box" v-if="delBox">
        <p class="title">拒绝原因</p>
        <textarea placeholder="请输入原因" v-model="delReason"></textarea>
        <div class="btn"><button class="chanel" @click="delBox=false;">取消</button><button class="action" @click="refused()">确认</button></div>
    </div>
    <div class="del_box action_box" v-if="actionBox">
        <p class="title">提示 <span @click="actionBox=false;">X</span></p>
        <p class="name">确定要同意吗？</p>
        <button class="action" @click="agree()">确定</button>
    </div>
    <!--<div class="del_box table_detail" v-show="detailBox">-->
        <!--<p class="title">查看详情 <span @click="detailBox=false;">×</span></p>-->
        <!--<p class="listname">店铺信息</p>-->
        <!--<table>-->
            <!--<tr>-->
                <!--<td>店铺名称：{{adData.depositRefund.spaceName}}</td>-->
                <!--<td>保证金缴纳状态：<span style="color:#ff3657;">{{adData.depositFee}}保证金</span><br><span style="color:#ff3657;" v-if="list.enterFee>0">+{{adData.enterFee}}入驻费</span></td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>店铺ID：{{adData.spaceNum}}</td>-->
                <!--<td>缴纳时间：{{adData.depositRefund.refundTime | trans-date}}</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>认证人：</td>-->
                <!--<td>交易中订单数：</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>联系方式：</td>-->
                <!--<td>交易中金额：</td>-->
            <!--</tr>-->
        <!--</table>-->
        <!--<p class="listname">申退信息</p>-->
        <!--<table>-->
            <!--<tr>-->
                <!--<td>申退时间：</td>-->
                <!--<td>申退原因：</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>申退金额：</td>-->
                <!--<td>收款人：</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>收款银行：</td>-->
                <!--<td>收款人联系方式：</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>申退状态：</td>-->
                <!--<td>银行卡号：</td>-->
            <!--</tr>-->
        <!--</table>-->
        <!--<p class="listname">申退记录</p>-->
        <!--<table class="bottom">-->
            <!--<thead>-->
                <!--<tr>-->
                    <!--<td>用户ID</td>-->
                    <!--<td>交易成功时间:</td>-->
                    <!--<td>订单金额</td>-->
                    <!--<td>订单状态</td>-->
                <!--</tr>-->
            <!--</thead>-->
            <!--<tbody>-->
                <!--<tr>-->
                    <!--<td>4595263</td>-->
                    <!--<td>2017-12-20 14:10:55</td>-->
                    <!--<td>1000元</td>-->
                    <!--<td><span>已拒绝</span></td>-->
                <!--</tr>-->
            <!--</tbody>-->
        <!--</table>-->
    <!--</div>-->
</div>