<div class="module_manager comm_container" v-cloak>
	<h1 class="comm_title">系统管理 >> 系统模块</h1>
	<div class="comm_table">
		<button class="add_button">+添加新模块</button>
		<div class="comm_table_content_2">
			<ul class="comm_table_title_2">
				<li class="col_type_6"><span>模块名称</span></li>
				<li class="col_type_7"><span>编辑</span></li>
				<li class="col_type_7"><span>删除</span></li>
			</ul>
			<div v-for="(menuOne,index) in moduleList">
				<ul class="comm_table_raw_2" >
					<li class="col_type_8"><span>{{menuOne.menuName}}</span></li>
					<li class="col_type_7"><img @click ="editMenu(menuOne)" src="../img/edit.png"></li>
					<li class="col_type_7"><img @click='removeModule(menuOne.menuId,index)' src="../img/del.png"></li>
				</ul>
				<ul class="comm_table_raw_2"  v-for="(menuTwo,index) in menuOne.children">
					<li class="col_type_8"><span class="fgray"> --{{menuTwo.menuName}}</span></li>
					<li class="col_type_7"><img @click ="editMenu(menuTwo)" src="../img/edit.png"></li>
					<li class="col_type_7"><img @click='removeModule(menuTwo.menuId,index)' src="../img/del.png"></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="dialog_container" id="detail_dialog">
	    <div class="dialog">
	    	    <h1 class="dialog_title">菜单</h1>
		    <span class="b_close">×</span>
		    <article class="input_article">
		    	<span class="mistake"></span>
		    	<section class="input_section"><label>菜单名称:</label><input type="text" name="menuName" id="menuName" placeholder="不得为空"></section>
		    	<section class="input_section"><label>菜单排序:</label><input type="number" name="menuOrder" id="menuOrder" placeholder="不得为空"></section>
		    	<section class="input_section"><label>菜单地址:</label><input type="text" name="menuUrl" placeholder="可以为空" id="menuUrl"></section>
		    	<section class="input_section">
		    		<label>父节点:</label>
		    		<div class="comm_search_item verify_state">
		    			<select name="parentId" class="input_width_3" id="parentId">
		    			  <option value="0">根节点</option>
					  <option v-for="module in moduleList" :value="module.menuId">{{module.menuName}}</option>
					</select>
		    		</div>
			</section>
		    </article>
		    <div class="button_container">
		    	<button class="agree">确定</button>
		    </div>
	    </div>
	</div>
	<div class="dialog_container" id="pass_dialog">
	    <div class="dialog">
	    	    <h1 class="dialog_title">更改状态</h1>
		    <span class="b_close">×</span>
		    <article>
		    	<section class="dialog_raw_4">
			    	<label><input type="radio" name="varify_agree" value="0">取消</label>
			    	<label><input type="radio" name="varify_agree" value="10">未付款</label>
			    	<label><input type="radio" name="varify_agree" value="20">未发货</label>
			    	<label><input type="radio" name="varify_agree" value="30">已发货</label>
			    	<label><input type="radio" name="varify_agree" value="40">待评论</label>
			    	<label><input type="radio" name="varify_agree" value="50">已完成</label>
			    	<label><input type="radio" name="varify_agree" value="-1">已删除</label>
			</section>
		    </article>
		    <div class="button_container">
		    	<button class="agree">同意</button>
		    </div>
	    </div>
	</div>
</div>
