<div class="newsList comm_container" v-cloak>
    <h1 class="comm_title">官网管理 >> 新闻列表</h1>
    <div class="comm_table">
        <div class="comm_search_box">
            <div class="comm_search_item">
                <label for="newsTitle">标题</label>
                <input type="text" name="newsTitle" id="newsTitle" autocomplete>
            </div>
            <div class="comm_search_item">
                <label for="source">来源</label>
                <input type="text" name="source" id="source" autocomplete>
            </div>
            <div class="comm_search_item verify_state">
                <label for="type">类型</label>
                <select name="type" class="input_width_3" id="type">
                    <option value="" selected>全部</option>
                    <option value="1">升级动态</option>
                    <option value="2">直播资讯</option>
                    <option value="3">主播内参</option>
                </select>
            </div>
            <div class="cf"></div>
            <div class="comm_search_item">
                <label for="keys">关键字</label>
                <input type="text" name="keys" class="input_width_4" id="keys" autocomplete>
            </div>
            <div class="comm_search_item">
                <label for="description">描述</label>
                <input type="text" name="description" class="input_width_4" id="description" autocomplete>
            </div>
            <button class="comm_search_item comm_button" id="news_search">搜索</button>
            <button class="comm_search_item comm_button" id="news_add">添加</button>
        </div>
        <div class="comm_table_content">
            <ul class="comm_table_title">
                <li class="col_type_2"><span>标题</span></li>
                <li class="col_type_3"><span>图片</span></li>
                <li class="col_type_4"><span>关键字</span></li>
                <li class="col_type_3"><span>状态</span></li>
                <li class="col_type_3"><span>发布日期</span></li>
                <li class="col_type_3"><span>类型</span></li>
                <li class="col_type_5"><span>操作</span></li>
            </ul>
            <ul class="comm_table_raw" v-for="(newsItem,index) in newsList">
                <li class="col_type_2"><span class="ellipsis">{{newsItem.newsTitle}}</span></li>
                <li class="col_type_3"><img :src="iconPic(newsItem.picUrl)" @click="showBigPic($event)"></li>
                <li class="col_type_5"><span>{{newsItem.newsKeys}}</span></li>
                <li class="col_type_3"><span>{{newsItem.status | trans-news-status}}</span></li>
                <li class="col_type_3"><span>{{newsItem.modifyTime | trans-date}}</span></li>
                <li class="col_type_3"><span>{{newsItem.newsType | trans-news-type}}</span></li>
                <li class="col_type_5 operate"><span
                        @click="showNewsDialog(newsItem)">编辑</span><span
                        @click="delNewsDialog(newsItem)">删除</span></li>
            </ul>
        </div>
        <div class="comm_page">
            <span>共{{countNum}}条,每页显示6条,共{{pagesCount}}页,当前为第{{currentPage}}页</span>
            <div class="comm_pagination_control">
                <ul>
                    <li v-for="(pageItem,index) in pageArray"
                        :class="{  'active': pageItem.isActive, 'page_hide': pageItem.isHidden  }"
                        @click="jumpPage(pageItem)">{{pageItem.count}}
                    </li>
                </ul>
                <div class="page_input" id="shop_name">
                    <label for="shop_name">跳转:</label>
                    <input type="text" name="page_index" id="page_index">
                </div>
                <button class="page_button">GO</button>
            </div>
        </div>
    </div>
    <div class="dialog_container" id="news_dialog">
        <div class="dialog">
            <h1 class="dialog_title">更改状态</h1>
            <span class="b_close">×</span>
            <article>
                <section class="dialog_raw_4">
                    <label>
                        <input type="radio" name="varify_agree" value="0">未发布</label>
                    <label>
                        <input type="radio" name="varify_agree" value="1">已上架</label>
                    <label>
                        <input type="radio" name="varify_agree" value="2">已下架</label>
                </section>
            </article>
            <div class="button_container">
                <button class="agree">同意</button>
            </div>
        </div>
    </div>
    <div class="dialog_container" id="pass_dialog">
        <div class="dialog">
            <h1 class="dialog_title">删除</h1>
            <span class="b_close">×</span>
            <div class="button_container">
                <button class="agree">同意</button>
            </div>
        </div>
    </div>
    <div class="dialog_container" id="add_dialog">
        <div class="dialog">
            <h1 class="dialog_title">添加新闻</h1>
            <span class="b_close">×</span>
            <div class="form_box">
                <form class="news_add_item">
                    <label for="newsTitle">新闻标题</label>
                    <input type="text" name="newsTitle" v-model="title" placeholder="请输入新闻标题,不能多于50字,必填"
                           maxlength="50"><span class="mark">{{title.length}}/50</span>
                </form>
                <form class="news_add_item" id="newsStatus">
                    <label for="newsStatus">新闻状态</label>
                    <input type="radio" name="newsStatus" value="0" checked>不可用
                    <input type="radio" name="newsStatus" value="1">可用
                </form>
                <form class="news_add_item" id="newsType">
                    <label for="newsType">新闻类型</label>
                    <input type="radio" name="newsType" value="1" checked>升级动态
                    <input type="radio" name="newsType" value="2">直播资讯
                    <input type="radio" name="newsType" value="3">主播内参
                </form>
                <form class="news_add_item" id="newsSource">
                    <label for="newsSource">新闻来源</label>
                    <input type="text" name="newsSource" v-model="source" placeholder="请输入新闻来源,必填" maxlength="50"><span
                        class="mark">{{source.length}}/50</span>
                </form>
                <form id="uploadForm" class="news_add_item2">
                    <label for="uploadForm">上传封面</label>
                    <img id="picShow" src="../img/timg.png">
                    <input type="file" name="file" id="file" class="uploadFile">
                    <input type="text" name="picId" id="picId" class="hidden">
                </form>
                <form class="news_add_item" id="newsKeys">
                    <label for="newsKeys">关键字</label>
                    <input type="text" name="newsKeys" v-model="keys" placeholder="请输入新闻关键字，必填" maxlength="50">
                </form>
                <form class="news_add_item" id="newsDescription">
                    <label for="newsDescription" class="newsDes">新闻提要</label>
                    <textarea type="text" name="newsDescription" v-model="description" placeholder="请输入新闻提要,不能多于200字,必填"
                              maxlength="200"></textarea><span class="mark">{{description.length}}/200</span>
                </form>
                <div class="news_add_item">
                    <label for="customEditor" class="editor">新闻内容</label>
                    <div id="customEditor" style="width:1030px;height:446px;max-height:446px;"></div>
                </div>
                <div class="button_container">
                    <button class="agree">确定</button>
                </div>
            </div>
        </div>
    </div>
</div>