<div class="stock_shop comm_container">
    <h1 class="comm_title">进货管理 >> 严选店铺</h1>
    <div class="comm_table">
        <div class="comm_search_box">
            <div class="comm_search_item">
                <label for="title">标题</label>
                <input type="text" name="title" id="title" autocomplete>
            </div>
            <div class="comm_search_item verify_state">
                <label for="selectionId">严选分类</label>
                <select name="selectionId" class="status input_width_3" id="selectionId">
                    <option value="" selected>全部</option>
                    <option value="cate.selectionId" v-for="cate in cateList">{{cate.selectionName}}</option>
                </select>
            </div>
            <div class="cf"></div>
            <button class="comm_search_item comm_button" id="stock_shop_search">搜索</button>
            <button class="comm_search_item comm_button" @click="showDetailDialog()">添加</button>
        </div>
        <div class="comm_table_content">
            <ul class="comm_table_title">
                <li class="col_type_4"><span>店铺ID</span></li>
                <li class="col_type_4"><span>严选分类</span></li>
                <li class="col_type_4"><span>排序</span></li>
                <li class="col_type_4"><span>标题</span></li>
                <li class="col_type_3"><span>图片</span></li>
                <li class="col_type_5"><span>操作</span></li>
            </ul>
            <ul class="comm_table_raw" v-for="(shopItem,index) in shopList">
                <li class="col_type_4"><span>{{shopItem.spaceId}}</span></li>
                <li class="col_type_4"><span>{{shopItem.selectionName}}</span></li>
                <li class="col_type_4"><span>{{shopItem.sortNum}}</span></li>
                <li class="col_type_4"><span>{{shopItem.title}}</span></li>
                <li class="col_type_3"><img :src="$iconPic(shopItem.picPath)" @click="$showBigPic($event)"></li>
                <li class="col_type_5 operate"><span @click="showDetailDialog(shopItem)">编辑</span><span
                        @click="showPassDialog(shopItem)">删除</span></li>
            </ul>
        </div>
        <div class="comm_page">
            <span>共{{countNum}}条,每页显示6条,共{{pagesCount}}页,当前为第{{currentPage}}页</span>
            <div class="comm_pagination_control">
                <ul>
                    <li v-for="(pageItem,index) in pageArray"
                        :class="{  'active': pageItem.isActive, 'page_hide': pageItem.isHidden  }"
                        @click="jumpPage(pageItem)">{{pageItem.count}}
                    </li>
                </ul>
                <div class="page_input">
                    <label for="page_index">跳转:</label>
                    <input type="text" name="page_index" id="page_index">
                </div>
                <button class="page_button">GO</button>
            </div>
        </div>
    </div>
    <div class="dialog_container" id="detail_dialog">
        <div class="dialog">
            <h1 class="dialog_title">菜单</h1>
            <span class="b_close">×</span>
            <article class="input_article">
                <span class="mistake"></span>
                <section class="input_section" v-show="isEdit">
                    <label>店铺ID:</label>
                    <input type="text" name="editSpaceId" id="editSpaceId" placeholder="不得为空">
                </section>
                <section class="input_section">
                    <label>标题:</label>
                    <input type="text" name="editTitle" id="editTitle" placeholder="不得为空">
                </section>
                <section class="input_section" v-show="isEdit">
                    <label>严选分类:</label>
                    <div class="comm_search_item verify_state hidden">
                        <select name="editSelectionId" class="input_width_3" id="editSelectionId">
                            <option v-for="cateItem in cateList" :value="cateItem.selectionId">
                                {{cateItem.selectionName}}
                            </option>
                        </select>
                    </div>
                    <span class="menu_loading">载入中...</span>
                </section>
                <section class="input_section">
                    <label>排序:</label>
                    <input type="number" name="editSortNum" id="editSortNum" placeholder="不得为空">
                </section>
                <section class="input_section"><form id="uploadForm" enctype="multipart/form-data"><input type="file" name="file" id="file" class="uploadFile"></form></section>
                <section class="input_section hidden"><input type="text" name="picId" id="picId"></section>
            </article>
            <div class="button_container">
                <button class="agree">确定</button>
            </div>
        </div>
    </div>
    <div class="dialog_container" id="pass_dialog">
        <div class="dialog">
            <h1 class="dialog_title">删除</h1>
            <span class="b_close">×</span>
            <div class="button_container">
                <button class="agree">同意</button>
            </div>
        </div>
    </div>
</div>
